body {
  display: flex;
  flex-direction: column;
}

button {
    max-width: 100px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.navigation-links {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 48px;
}

.cta {
    display: flex;
    flex-direction: column;
}

.cards-header {
    display: flex;
    justify-content: center;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 1;
    gap: 16px;
    padding: 48px;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font: 36px light italic #1F2937;
    padding: 48px;
}

.quote-citation {
    display: flex;
    align-items: right;
}

.ad {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 48px;
}