* {
    font-family: Roboto, sans-serif;
    margin:0;
    /*
    color pallete from tailwindcss
    950 = #020617
    900 = #0f172a
    800 = #1e293b
    700 = #334155
    600 = #475569
    500 = #64748b
    400 = #94a3b8
    300 = #cbd5e1
    200 = #e2e8f0
    100 = #f1f5f9
    50 = #f8fafc
    */
}

body {
    max-width: 100vw;
    max-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.dashboard_icon {
    min-height: 2rem;
    margin: 8px;
}
.search_icon,
.notification_icon,
.action_icon,
.info_icon {
    min-height: 0.5rem;
    max-height: 2rem;
    margin: 1px;
}

.dashboard_text {
    color: #f1f5f9;
    display: flex;
    align-items: center;
    justify-items: center;
    font-size: 1.5rem;
}

.tab_text {
    color: #f1f5f9;
    display: flex;
    align-items: center;
    justify-items: center;
    font-size: 1rem;
}

.project_container_text {
    font-size: 1rem;
}

.header {
    max-height: 30%;
    background-color: #f1f5f9;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.top_header_bar {
    max-height: 1fr;
    padding: 1rem;
    grid-row: 1 / span 1;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.top_header_bar_search {
    padding: 1rem;
    grid-column: 1 / span 1;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.top_header_bar_account {
    padding: 1rem;
    grid-column: 2 / span 1;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
}

.bottom_header_bar {
    max-height: 2fr;
    padding: 1rem;
    grid-row: 2 / span 1;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.bottom_header_bar_account {
    grid-column: 1 / span 1;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.welcome_bar {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.bottom_header_action_bar {
    grid-column: 2 / span 1;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.new,
.upload,
.share {
    background-color: #1e293b;
    border-radius: 20px;
    padding: 1rem;
}

.sidebar {
    max-height: 100%;
    background-color: #1e293b;
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    padding: 0.5rem;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 3fr;
}

.home_tab,
.profile_tab,
.messages_tab,
.history_tab,
.tasks_tab,
.communities_tab,
.setting_tab,
.support_tab,
.privacy_tab {
    max-height: 2rem;
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.dashboard {
    grid-row: 1 / span 1;
    padding: 0.5rem;
    max-height: 3rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.action_tabs {
    grid-row: 2 / span 1;
    padding: 1rem;
}

.info_tabs {
    grid-row: 3 / span 1;
    padding: 1rem;
}

.content_container {
    max-height: 100%;
    padding: 0.5rem;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #64748b;
}

.projects_container {
    padding: 1rem;
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.projects_container_content {
    grid-row: 2 / span 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}

.project_box {
    border-radius: 10px;
    padding: 0.5rem;
    background-color: #f1f5f9;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr 1fr;
}

.project_box_actions {
    position:relative;
    grid-row: 4 / span 1;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
}

.project_favorite_icon {
    grid-column: 2 / span 1;
}

.project_watch_icon {
    grid-column: 3 / span 1;
}

.project_fork_icon {
    grid-column: 4 / span 1;
}

.side_content_container {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.announcements_container {
    height: 50%;
    padding: 0.5rem;
    display: grid;
    grid-template-rows: 1fr 2fr;
    gap: 20px;
}

.announcement_container_content {
    border-radius: 10px;
    padding: 1rem;
    background-color: #f1f5f9;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}

.trending_container {
    height: 50%;
    padding: 0.5rem;
    display: grid;
    grid-template-rows: 1fr 2fr;
    gap: 20px;
}

.trending_container_content {
    border-radius: 10px;
    padding: 1rem;
    background-color: #f1f5f9;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.trend_box {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.trend_title {
    grid-template-rows: 1fr 1fr;
}