body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  font-family: 'roboto', 'sans-serif';
}

footer {
    display: flex;
    justify-content: center;
}

.header-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navigation-links {
    display: flex;
    gap: 1rem;
}

.hero-content {
    display: flex;
    flex-direction: row;
}

.cta {
    display: flex;
    flex-direction: column;
}

.page-body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.card-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}

.content {
    display: flex;
    flex-direction: column;
}

.quote-citation {
    display: flex;
    justify-content: flex-end;
}

.ad {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.default-margin {
    margin: auto;
    width: 75%;
}

.small-margin {
    margin: 2px;
}

.big-padding {
    padding: 48px;
}

.medium-padding {
    padding: 24px;
}

.dark-background {
    background-color: #1F2937;
}

.medium-background {
    background-color: #3882F6;
}

.light-background {
    background-color: #E5E7EB;
}

.light-text {
    color: #F9FAF8;
}

.dark-text {
    color: #1F2937;
}

.bolder-text {
    font-weight: bolder;
}

.bold-text {
    font-weight: bold;
}

.large-text {
    font-size: 48px;
}

.big-text {
    font-size: 36px;
}

.medium-text {
    font-size: 24px;
}

.small-text {
    font-size: 18px;
}

.borderless-button {
    border: none;
    border-radius: 10%;
    height: 48px;
    width: 96px;
    padding: 8px;
}

.bordered-button {
    border: 2px solid white;
    border-radius: 10%;
    height: 36px;
    width: 96px;
    padding: 8px;
}